{% extends app.isAjax ? "ajax-navigation/layouts/ajax-layout.twig" : "core/layouts/main-layout.twig" %}

{% block content %}
    <span class="ajax-loading-data" data-ajax-cache="{{ {duration: 600} |json_encode() }}"></span>

    {{ 'core-plugins.phpbb.import.start.form.intro'|trans }}

    {% include 'phpbb/start/_form.twig' with { dbSettings: dbSettings } %}

{% endblock %}
