# IDE files
/.idea/
*.iml

# Misc general ignores
*.bak

# Misc PHP ignores
composer.phar
composer.lock
/vendor/php

# Misc Grunt/Gulp/Whatever & Bower ignores
node_modules/
/vendor/js

# App specific
/app/var/**/*
/app/data/db/migrations-populated.sql

# Plugins specific
/plugins/*/assets/components/
/plugins/*/node_modules/