
<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !\/assets\/
    RewriteCond %{REQUEST_FILENAME} !\/vendor\/js\/
    RewriteRule .  index.php
</IfModule>