{% extends "core/layouts/ajax.twig" %}

{% block content %}

    {% set temporaryUserProfileContainerId = app.uuid %}

    <!-- temporary HTML container for our user profile display -->
    <div id="user-profile-{{ temporaryUserProfileContainerId }}" class="hidden">
        {% include 'auth/common/user-display.twig' with {'user': user} %}
    </div>

    <script>
        require(['jquery', 'locache'], function ($, locache) {
            // The user profile must be displayed in the #logged-user-container
            var $userProfile = $("#user-profile-{{ temporaryUserProfileContainerId }}");
            $('#logged-user-container').html($userProfile.html());
            $userProfile.remove();

            // No "signup"/"signin" links in our header
            $("header .sign-up, header .sign-in").addClass("hidden");
            // ...but we show the "signout" link
            $("header .sign-out").removeClass("hidden");

            // Our pages data cache is flushed: since our status has changed,
            // pages content may change!
            locache.flush();

            // Back to intended page or home, please!
            $(document).trigger("historyStateRequested", {
                url: "{{ app.session.get('url.intended', path('core/home')) }}"
            });
            {% do app.session.remove('url.intended') %}

        });
    </script>

{% endblock %}
