<div class="ajax-loaded-content">

    {# Notifications display through JavaScript (if any) #}
    {% include 'core/common/alerts-display.twig' with {alerts: get_flashes()} %}

    {% block breadcrumb %}
    {% endblock %}

    {% block content %}
    {% endblock %}

</div><!-- end .ajax-loaded-content -->
