<div class="ajax-loaded-content">

    {# Notifications display through JavaScript (if any) #}
    {% include 'core/common/notifications-display.twig' %}

    {% block content %}
    {% endblock %}

</div><!-- end .ajax-loaded-content -->
