<div class="ajax-loaded-content">

    {% block content %}
    {% endblock %}

    {# Notifications display through JavaScript (if any) #}
    {#{% include 'common/notifications-display' %}#}

</div><!-- end .ajax-loaded-content -->
