{{ enable_html_hooks('header') }}
<header>
    <h1><a href="{{ path('core/home') }}" class="ajax-link">Talk-Talk</a></h1>

    <nav>
        <ul>
        </ul>
    </nav>

    <div id="logged-user-container">
        {% if app.isAuthenticated %}
            {% include 'auth/common/user-display.twig' %}
        {% endif %}
    </div>

</header>
