{% extends app.isAjax ? "core/layouts/ajax.twig" : "core/layouts/main-layout.twig" %}

{% block content %}
    <span class="ajax-loading-data" data-ajax-cache="{{ {duration: 30} |json_encode() }}"></span>

    {% include 'core/common/breadcrumb.twig' %}

    {{ enable_html_hooks('forum_display') }}
    <div class="forum-display-container">
        <div class="forum-display">
            <h2 class="forum-title">{{ forum.name }}</h2>

            {% if subForums|length > 0 %}
                <b>{{ subForums|length }} sub-forums</b>
                {% include 'forum-base/inc/forums-display-container.twig' with {forums: subForums} %}
            {% endif %}

            {% include 'utils/common/pagination.twig' with paginationData %}

            {% include 'forum-base/inc/topics-display-container.twig' with {topics: topics} %}
    
            {% include 'utils/common/pagination.twig' with paginationData %}

        </div>{# end .forum-display #}
    </div>{# end .forum-display-container #}

{% endblock %}
