{% extends "ajax-navigation/layouts/ajax-layout.twig" %}

{% block content %}

    <div class="ajax-redirecting">
        {{ 'core-plugins.ajax-navigation.redirecting'|trans }}
    </div>

    <script>
        (function () {
            // Redirection through JS Ajax content loading, please!
            $(document).trigger("uiNeedsContentAjaxLoading", {
                url: "{{ targetUrl }}",
                target: "#main-content"
            });
        })();
    </script>

{% endblock %}
