{% extends app.isAjax ? "core/layouts/ajax.twig" : "core/layouts/main-layout.twig" %}

{% block content %}

    {{ 'core-plugins.phpbb.importing.intro'|trans }}

    <div class="requirejs-widget"
         data-widget="app-modules/phpbb/widgets/imports-handler"
          data-phpbb-nb-users="{{ phpBb.nbUsers }}">
        
        <div id="phpbb-users-import-display">
            <p><b>{{ phpBb.nbUsers }}</b> users to import</p>
            <progress value="0" max="100"></progress> <span class="percentage">0</span>%
        </div>
        
        <button class="start-import">Start import</button>
    </div>


{% endblock %}
