{% extends app.isAjax ? "core/layouts/ajax.twig" : "core/layouts/main-layout.twig" %}

{% block content %}

    <div class="requirejs-widget"
         data-widget="app-modules/phpbb/widgets/imports-handler">

        {% set itemsTypes = {'users': 'Users', 'forums': 'Forums', 'topics': 'Topics'} %}
        {% for itemType, itemLabel in itemsTypes %}
            <div id="phpbb-{{ itemType }}-import-display">
                <h4>{{ itemLabel }}</h4>

                <p class="nb-items-to-import hidden">
                    <b class="number">0</b> items to import
                </p>
                <progress value="0" max="100"></progress>
                <span class="percentage">0</span>%
            </div>
        {% endfor %}

        <div class="please-wait hidden">
            {{ 'core-plugins.phpbb.importing.intro'|trans }}
        </div>
        <button class="start-import">Start import</button>
    </div>


{% endblock %}
