{% extends app.isAjax ? "core/layouts/ajax.twig" : "core/layouts/main-layout.twig" %}

{% block content %}

    <div class="imports-container requirejs-widget"
         data-widget="app-modules/phpbb/widgets/imports-handler"
         data-items-types="{{ itemsTypes|json_encode() }}">

        {% for itemType, itemLabel in itemsTypes %}
            <div id="phpbb-{{ itemType }}-import-display">
                <h4>{{ itemLabel }}</h4>

                <p class="nb-items-to-import hidden">
                    <b class="number">0</b> items to import
                </p>
                <progress value="0" max="100"></progress>
                <span class="percentage">0</span>%

                <div class="done hidden">
                    Done! (<span class="duration"></span> seconds)
                </div>
            </div>
        {% endfor %}

        <div class="please-wait hidden">
            {{ 'core-plugins.phpbb.import.importing.intro'|trans }}
        </div>
        <button class="start-import">Start import</button>
    </div>


{% endblock %}
